In [2]:
import pandas as pd
import numpy as np

In [3]:
TS_reader1_df = pd.read_excel("/data2/hoon2/LUS_Dataset/csv_files/Temporally_separated_sheet_labeler1.xlsx", index_col=False)
TS_reader2_df = pd.read_excel("/data2/hoon2/LUS_Dataset/csv_files/Temporally_separated_sheet_labeler2.xlsx", index_col=False)

print(len(TS_reader1_df))
print(len(TS_reader2_df))

56
56

In [4]:
TS_reader1_df.head()

,Patient number,PatientID,Data_idx,StudyDate,Data_type,Point Zone,A-line,B-line,Confluent B-line,Consolidation,Pleural effusion,Lung sliding,Lung Ultrasound Score,LUS score align
0,1,44937986,2,20240712,video,NaN,1_152,NaN,NaN,NaN,NaN,1,0,1
1,1,44937986,3,20240712,video,NaN,NaN,NaN,NaN,71_127,1_152,1,3_ce,1
2,1,44937986,4,20240712,video,NaN,NaN,NaN,NaN,1_152,1_152,1,3_ce,1
3,1,44937986,5,20240712,video,NaN,36_48,46_61,126_130,NaN,NaN,0,2,0
4,1,44937986,6,20240712,video,NaN,37_47,47_58,126_130,NaN,NaN,0,2,0

In [5]:
TS_reader2_df.head()

,Patient number,PatientID,Data_idx,StudyDate,Data_type,Point Zone,A-line,B-line,Confluent B-line,Consolidation,Pleural effusion,Lung sliding,Lung Ultrasound Score,LUS score align
0,1,44937986,2,20240712,video,NaN,1_152,NaN,NaN,NaN,NaN,1.0,0,1
1,1,44937986,3,20240712,video,NaN,NaN,NaN,NaN,87_115,96_112,0.0,3_ce,1
2,1,44937986,4,20240712,video,NaN,NaN,NaN,NaN,59_89,59_89,0.0,3_ce,1
3,1,44937986,5,20240712,video,NaN,NaN,47_60,NaN,NaN,NaN,0.0,1,0
4,1,44937986,6,20240712,video,NaN,NaN,92_99,NaN,NaN,NaN,1.0,1,0

In [6]:
TS_reader1_df[TS_reader1_df['PatientID'] == 52426014]

,Patient number,PatientID,Data_idx,StudyDate,Data_type,Point Zone,A-line,B-line,Confluent B-line,Consolidation,Pleural effusion,Lung sliding,Lung Ultrasound Score,LUS score align
5,2,52426014,2,20240712,video,NaN,130_152,1_152,137_152,137_152,NaN,0,3_c,0
6,2,52426014,3,20240712,video,NaN,NaN,NaN,NaN,1_152,1_152,0,3_ce,1
7,2,52426014,4,20240712,video,NaN,NaN,NaN,NaN,1_152,1_152,0,3_ce,1
8,2,52426014,5,20240712,video,NaN,1_152,1_152,135_152,101_143,NaN,0,3_c,0
9,2,52426014,6,20240712,video,NaN,1_152,1_152,1_48,1_152,NaN,0,3_c,0
10,2,52426014,7,20240712,video,NaN,1_152,1_152,36_104,1_152,NaN,0,3_c,0
11,2,52426014,8,20240712,video,NaN,1_33,1_152,38_152,117_152,NaN,0,3_c,0
12,2,52426014,9,20240712,video,NaN,96_152,88_131,NaN,94_152,NaN,0,3_c,0
13,2,52426014,10,20240712,video,NaN,1_152,1_152,52_80,27_90,NaN,0,3_c,0
14,2,52426014,11,20240712,video,NaN,1_152,1_152,130_152,1_152,NaN,0,3_c,0

In [7]:
TS_reader1_df['A-line'] = TS_reader1_df['A-line'].map(lambda x: x if pd.isna(x) else x.strip())
TS_reader1_df['A-line'] = TS_reader1_df['A-line'].replace('', pd.NA, inplace=False)

TS_reader1_df['B-line'] = TS_reader1_df['B-line'].map(lambda x: x if pd.isna(x) else x.strip())
TS_reader1_df['B-line'] = TS_reader1_df['B-line'].replace('', pd.NA, inplace=False)

TS_reader1_df['Confluent B-line'] = TS_reader1_df['Confluent B-line'].map(lambda x: x if pd.isna(x) else x.strip())
TS_reader1_df['Confluent B-line'] = TS_reader1_df['Confluent B-line'].replace('', pd.NA, inplace=False)

TS_reader1_df['Consolidation'] = TS_reader1_df['Consolidation'].map(lambda x: x if pd.isna(x) else x.strip())
TS_reader1_df['Consolidation'] = TS_reader1_df['Consolidation'].replace('', pd.NA, inplace=False)

TS_reader1_df['Pleural effusion'] = TS_reader1_df['Pleural effusion'].map(lambda x: x if pd.isna(x) else x.strip())
TS_reader1_df['Pleural effusion'] = TS_reader1_df['Pleural effusion'].replace('', pd.NA, inplace=False)

In [8]:
TS_reader2_df['A-line'] = TS_reader2_df['A-line'].map(lambda x: x if pd.isna(x) else x.strip())
TS_reader2_df['A-line'] = TS_reader2_df['A-line'].replace('', pd.NA, inplace=False)

TS_reader2_df['B-line'] = TS_reader2_df['B-line'].map(lambda x: x if pd.isna(x) else x.strip())
TS_reader2_df['B-line'] = TS_reader2_df['B-line'].replace('', pd.NA, inplace=False)

TS_reader2_df['Confluent B-line'] = TS_reader2_df['Confluent B-line'].map(lambda x: x if pd.isna(x) else x.strip())
TS_reader2_df['Confluent B-line'] = TS_reader2_df['Confluent B-line'].replace('', pd.NA, inplace=False)

TS_reader2_df['Consolidation'] = TS_reader2_df['Consolidation'].map(lambda x: x if pd.isna(x) else x.strip())
TS_reader2_df['Consolidation'] = TS_reader2_df['Consolidation'].replace('', pd.NA, inplace=False)

TS_reader2_df['Pleural effusion'] = TS_reader2_df['Pleural effusion'].map(lambda x: x if pd.isna(x) else x.strip())
TS_reader2_df['Pleural effusion'] = TS_reader2_df['Pleural effusion'].replace('', pd.NA, inplace=False)

In [9]:
def create_row(row):
    root_path = "/data2/hoon2/LUS_Dataset/processed_temporally_separated_dataset_dcm"
    patient_id = int(row['PatientID'])
    data_idx = int(row['Data_idx'])
#     data_idx = f"{row['Data_idx']:05d}"
    return f"{patient_id}_{data_idx}"

In [10]:
TS_reader1_df['study_id'] = TS_reader1_df.apply(create_row, axis=1)
TS_reader2_df['study_id'] = TS_reader2_df.apply(create_row, axis=1)

TS_reader2_df.head()

,Patient number,PatientID,Data_idx,StudyDate,Data_type,Point Zone,A-line,B-line,Confluent B-line,Consolidation,Pleural effusion,Lung sliding,Lung Ultrasound Score,LUS score align,study_id
0,1,44937986,2,20240712,video,NaN,1_152,NaN,NaN,NaN,NaN,1.0,0,1,44937986_2
1,1,44937986,3,20240712,video,NaN,NaN,NaN,NaN,87_115,96_112,0.0,3_ce,1,44937986_3
2,1,44937986,4,20240712,video,NaN,NaN,NaN,NaN,59_89,59_89,0.0,3_ce,1,44937986_4
3,1,44937986,5,20240712,video,NaN,NaN,47_60,NaN,NaN,NaN,0.0,1,0,44937986_5
4,1,44937986,6,20240712,video,NaN,NaN,92_99,NaN,NaN,NaN,1.0,1,0,44937986_6

In [11]:
TS_reader1_df[TS_reader1_df['study_id'] == '52426014_8']

,Patient number,PatientID,Data_idx,StudyDate,Data_type,Point Zone,A-line,B-line,Confluent B-line,Consolidation,Pleural effusion,Lung sliding,Lung Ultrasound Score,LUS score align,study_id
11,2,52426014,8,20240712,video,NaN,1_33,1_152,38_152,117_152,NaN,0,3_c,0,52426014_8

In [12]:
from tqdm import tqdm

In [13]:
from glob import glob

all_png_paths = glob('/data2/hoon2/LUS_Dataset/temporally_separated_dcm_to_png/*/*.png')

In [14]:
print(len(all_png_paths))

8508

In [15]:
import re

data2 = []

# 이미지 case는 제외하기 위해
pattern = re.compile(r'(\d+_\d+)_\d+')

for i in tqdm(range(len(all_png_paths))):
    file_name = all_png_paths[i].split('/')[-1].split('.')[0]
    study_id = pattern.match(file_name)
    if study_id:
        
        p1 = study_id.group(1).split('_')[0]
        p2 = int(study_id.group(1).split('_')[1])
        revised_study_id = f"{p1}_{p2}"
        
        data2.append({
            'FileName': file_name,
            'study_id': revised_study_id
        })

png_df = pd.DataFrame(data2, columns=['FileName', 'study_id'])

  0%|          | 0/8508 [00:00<?, ?it/s]

100%|██████████| 8508/8508 [00:00<00:00, 277770.21it/s]

In [16]:
png_df.head()

             FileName    study_id
0   80306634_00004_31  80306634_4
1   80306634_00007_93  80306634_7
2   80306634_00007_46  80306634_7
3   80306634_00007_72  80306634_7
4  80306634_00006_150  80306634_6

In [17]:
# 두 데이터프레임의 공통된 'study_id' 값 찾기
common_study_ids = set(TS_reader1_df['study_id']).intersection(set(png_df['study_id']))

# 공통된 'study_id'만 포함하도록 각 데이터프레임 필터링
TS_reader1_df_filtered = TS_reader1_df[TS_reader1_df['study_id'].isin(common_study_ids)]
TS_png_df_filtered = png_df[png_df['study_id'].isin(common_study_ids)]

# 필터링된 데이터프레임 병합
TS_reader1_df_filtered = pd.merge(TS_reader1_df_filtered, TS_png_df_filtered, on='study_id')
print(len(TS_reader1_df_filtered))
print(f"Tempollary_Separated 환자 수 : {len(set(TS_reader1_df_filtered['PatientID']))}")
print(f"Tempollary_Separated 추가된 비디오 수 : {len(set(TS_reader1_df_filtered['study_id']))}")
print(f"Tempollary_Separated 추가된 이미지 수 : {len(set(TS_reader1_df_filtered['FileName']))}")

8508
Tempollary_Separated 환자 수 : 11
Tempollary_Separated 추가된 비디오 수 : 56
Tempollary_Separated 추가된 이미지 수 : 8508

In [18]:
# 두 데이터프레임의 공통된 'study_id' 값 찾기
common_study_ids = set(TS_reader2_df['study_id']).intersection(set(png_df['study_id']))

# 공통된 'study_id'만 포함하도록 각 데이터프레임 필터링
TS_reader2_df_filtered = TS_reader2_df[TS_reader2_df['study_id'].isin(common_study_ids)]
TS_png_df_filtered = png_df[png_df['study_id'].isin(common_study_ids)]

# 필터링된 데이터프레임 병합
TS_reader2_df_filtered = pd.merge(TS_reader2_df_filtered, TS_png_df_filtered, on='study_id')
print(len(TS_reader2_df_filtered))
print(f"Tempollary_Separated 환자 수 : {len(set(TS_reader2_df_filtered['PatientID']))}")
print(f"Tempollary_Separated 추가된 비디오 수 : {len(set(TS_reader2_df_filtered['study_id']))}")
print(f"Tempollary_Separated 추가된 이미지 수 : {len(set(TS_reader2_df_filtered['FileName']))}")

8508
Tempollary_Separated 환자 수 : 11
Tempollary_Separated 추가된 비디오 수 : 56
Tempollary_Separated 추가된 이미지 수 : 8508

In [19]:
def create_list(start, end=None):
    # If only one number is provided, return a list with that number.
    if end is None:
        return [int(start)]
    # If start and end are provided, return a list with numbers from start to end, inclusive.
    else:
        return list(range(int(start), int(end) + 1))

In [20]:
def gen_lbl_range_dict(df, lbl_name):
    lbl_dict = {}
    for si, lbl in df[['study_id',lbl_name]].values:
        lbl_range_ls = []
        if pd.isna(lbl):
            lbl_dict[si] = 0
        else:
            refined_lbl = lbl.strip()
            refined_lbl_ls = refined_lbl.split(',')
            for r_lbl in refined_lbl_ls:
                lbl_range = re.split(r'[_-]', r_lbl)
                lbl_range_ls.append(create_list(*lbl_range))   
            lbl_dict[si] = lbl_range_ls  
    return lbl_dict

In [21]:
# labeler 1 
al_lbl_dict1 = gen_lbl_range_dict(TS_reader1_df_filtered, 'A-line')
bl_lbl_dict1 = gen_lbl_range_dict(TS_reader1_df_filtered, 'B-line')
cb_lbl_dict1 = gen_lbl_range_dict(TS_reader1_df_filtered, 'Confluent B-line')
c_lbl_dict1 = gen_lbl_range_dict(TS_reader1_df_filtered, 'Consolidation')
pe_lbl_dict1 = gen_lbl_range_dict(TS_reader1_df_filtered, 'Pleural effusion')

# labler 2
al_lbl_dict2 = gen_lbl_range_dict(TS_reader2_df_filtered, 'A-line')
bl_lbl_dict2 = gen_lbl_range_dict(TS_reader2_df_filtered, 'B-line')
cb_lbl_dict2 = gen_lbl_range_dict(TS_reader2_df_filtered, 'Confluent B-line')
c_lbl_dict2 = gen_lbl_range_dict(TS_reader2_df_filtered, 'Consolidation')
pe_lbl_dict2 = gen_lbl_range_dict(TS_reader2_df_filtered, 'Pleural effusion')

In [22]:
def check_label_in_range(filename, label_range_dict):
    file_info = filename.split('_')
    study_id = '_'.join([file_info[0], str(int(file_info[1]))])
    frame_idx = int(file_info[-1])
    lbl_range_ls = label_range_dict[study_id]
    if lbl_range_ls == 0:
        return 0
    else:
        for lbl_range in lbl_range_ls:
            if frame_idx in lbl_range:
                return 1
        return 0

In [23]:
def check_study_id(filename):
    file_info = filename.split('_')
    study_id = '_'.join([file_info[0], str(int(file_info[1]))])
    return study_id

In [24]:
# labeler 1
TS_reader1_df_filtered['A-line_lbl'] = TS_reader1_df_filtered.FileName.map(lambda x: check_label_in_range(x, al_lbl_dict1))
TS_reader1_df_filtered['B-line_lbl'] = TS_reader1_df_filtered.FileName.map(lambda x: check_label_in_range(x, bl_lbl_dict1))
TS_reader1_df_filtered['Confluent B-line_lbl'] = TS_reader1_df_filtered.FileName.map(lambda x: check_label_in_range(x, cb_lbl_dict1))
TS_reader1_df_filtered['Consolidation_lbl'] = TS_reader1_df_filtered.FileName.map(lambda x: check_label_in_range(x, c_lbl_dict1))
TS_reader1_df_filtered['Pleural effusion_lbl'] = TS_reader1_df_filtered.FileName.map(lambda x: check_label_in_range(x, pe_lbl_dict1))

# labeler 2
TS_reader2_df_filtered['A-line_lbl'] = TS_reader2_df_filtered.FileName.map(lambda x: check_label_in_range(x, al_lbl_dict2))
TS_reader2_df_filtered['B-line_lbl'] = TS_reader2_df_filtered.FileName.map(lambda x: check_label_in_range(x, bl_lbl_dict2))
TS_reader2_df_filtered['Confluent B-line_lbl'] = TS_reader2_df_filtered.FileName.map(lambda x: check_label_in_range(x, cb_lbl_dict2))
TS_reader2_df_filtered['Consolidation_lbl'] = TS_reader2_df_filtered.FileName.map(lambda x: check_label_in_range(x, c_lbl_dict2))
TS_reader2_df_filtered['Pleural effusion_lbl'] = TS_reader2_df_filtered.FileName.map(lambda x: check_label_in_range(x, pe_lbl_dict2))

In [25]:
def create_path(row):
    root_path = "/data2/hoon2/LUS_Dataset/temporally_separated_dcm_to_png"
    patient_id = int(row['PatientID'])
    File_name = row['FileName']
    data_idx = row['FileName'].split('_')[1]
    frame_num =  row['FileName'].split('_')[-1]
    return f"{root_path}/{patient_id}/{str(patient_id)}_{str(data_idx).zfill(5)}_{str(frame_num)}.png"

In [26]:
TS_reader1_df_filtered['img_path'] = TS_reader1_df_filtered.apply(create_path, axis=1)
TS_reader2_df_filtered['img_path'] = TS_reader2_df_filtered.apply(create_path, axis=1)

print(TS_reader1_df_filtered.iloc[0]['img_path'])

/data2/hoon2/LUS_Dataset/temporally_separated_dcm_to_png/44937986/44937986_00002_135.png

In [27]:
TS_reader1_df_filtered
TS_reader1_df_filtered[TS_reader1_df_filtered['PatientID'] == 52426014]

,Patient number,PatientID,Data_idx,StudyDate,Data_type,Point Zone,A-line,B-line,Confluent B-line,Consolidation,...,Lung Ultrasound Score,LUS score align,study_id,FileName,A-line_lbl,B-line_lbl,Confluent B-line_lbl,Consolidation_lbl,Pleural effusion_lbl,img_path
760,2,52426014,2,20240712,video,NaN,130_152,1_152,137_152,137_152,...,3_c,0,52426014_2,52426014_00002_106,0,1,0,0,0,/data2/hoon2/LUS_Dataset/temporally_separated_...
761,2,52426014,2,20240712,video,NaN,130_152,1_152,137_152,137_152,...,3_c,0,52426014_2,52426014_00002_7,0,1,0,0,0,/data2/hoon2/LUS_Dataset/temporally_separated_...
762,2,52426014,2,20240712,video,NaN,130_152,1_152,137_152,137_152,...,3_c,0,52426014_2,52426014_00002_16,0,1,0,0,0,/data2/hoon2/LUS_Dataset/temporally_separated_...
763,2,52426014,2,20240712,video,NaN,130_152,1_152,137_152,137_152,...,3_c,0,52426014_2,52426014_00002_68,0,1,0,0,0,/data2/hoon2/LUS_Dataset/temporally_separated_...
764,2,52426014,2,20240712,video,NaN,130_152,1_152,137_152,137_152,...,3_c,0,52426014_2,52426014_00002_93,0,1,0,0,0,/data2/hoon2/LUS_Dataset/temporally_separated_...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2275,2,52426014,11,20240712,video,NaN,1_152,1_152,130_152,1_152,...,3_c,0,52426014_11,52426014_00011_127,1,1,0,1,0,/data2/hoon2/LUS_Dataset/temporally_separated_...
2276,2,52426014,11,20240712,video,NaN,1_152,1_152,130_152,1_152,...,3_c,0,52426014_11,52426014_00011_100,1,1,0,1,0,/data2/hoon2/LUS_Dataset/temporally_separated_...
2277,2,52426014,11,20240712,video,NaN,1_152,1_152,130_152,1_152,...,3_c,0,52426014_11,52426014_00011_19,1,1,0,1,0,/data2/hoon2/LUS_Dataset/temporally_separated_...
2278,2,52426014,11,20240712,video,NaN,1_152,1_152,130_152,1_152,...,3_c,0,52426014_11,52426014_00011_46,1,1,0,1,0,/data2/hoon2/LUS_Dataset/temporally_separated_...
2279,2,52426014,11,20240712,video,NaN,1_152,1_152,130_152,1_152,...,3_c,0,52426014_11,52426014_00011_147,1,1,1,1,0,/data2/hoon2/LUS_Dataset/temporally_separated_...

# video

In [28]:
import cv2
from tqdm import tqdm
import re
import os
import sys
import cv2
import math
import time
import shutil

import pandas as pd
import numpy as np

In [29]:
def create_raw_avi_path(row):
    parts = row['FileName'].split('_')
    return f"/data2/hoon2/LUS_Dataset/processed_temporally_separated_dataset_avi/{parts[0]}/{parts[1]}.avi"

In [30]:
TS_reader2_df_filtered.head()
TS_reader1_df_filtered.head()

,Patient number,PatientID,Data_idx,StudyDate,Data_type,Point Zone,A-line,B-line,Confluent B-line,Consolidation,...,Lung Ultrasound Score,LUS score align,study_id,FileName,A-line_lbl,B-line_lbl,Confluent B-line_lbl,Consolidation_lbl,Pleural effusion_lbl,img_path
0,1,44937986,2,20240712,video,NaN,1_152,NaN,NaN,NaN,...,0,1,44937986_2,44937986_00002_135,1,0,0,0,0,/data2/hoon2/LUS_Dataset/temporally_separated_...
1,1,44937986,2,20240712,video,NaN,1_152,NaN,NaN,NaN,...,0,1,44937986_2,44937986_00002_72,1,0,0,0,0,/data2/hoon2/LUS_Dataset/temporally_separated_...
2,1,44937986,2,20240712,video,NaN,1_152,NaN,NaN,NaN,...,0,1,44937986_2,44937986_00002_1,1,0,0,0,0,/data2/hoon2/LUS_Dataset/temporally_separated_...
3,1,44937986,2,20240712,video,NaN,1_152,NaN,NaN,NaN,...,0,1,44937986_2,44937986_00002_146,1,0,0,0,0,/data2/hoon2/LUS_Dataset/temporally_separated_...
4,1,44937986,2,20240712,video,NaN,1_152,NaN,NaN,NaN,...,0,1,44937986_2,44937986_00002_3,1,0,0,0,0,/data2/hoon2/LUS_Dataset/temporally_separated_...

In [31]:
TS_reader1_df_filtered['raw_avi_path'] = TS_reader1_df_filtered.apply(create_raw_avi_path, axis=1)
TS_reader2_df_filtered['raw_avi_path'] = TS_reader2_df_filtered.apply(create_raw_avi_path, axis=1)

In [32]:
TS_reader1_video_df = TS_reader1_df_filtered.drop_duplicates(subset=['study_id'])
TS_reader2_video_df = TS_reader2_df_filtered.drop_duplicates(subset=['study_id'])

print(len(TS_reader1_video_df))
print(len(TS_reader2_video_df))
TS_reader1_video_df.head()

56
56

,Patient number,PatientID,Data_idx,StudyDate,Data_type,Point Zone,A-line,B-line,Confluent B-line,Consolidation,...,LUS score align,study_id,FileName,A-line_lbl,B-line_lbl,Confluent B-line_lbl,Consolidation_lbl,Pleural effusion_lbl,img_path,raw_avi_path
0,1,44937986,2,20240712,video,NaN,1_152,NaN,NaN,NaN,...,1,44937986_2,44937986_00002_135,1,0,0,0,0,/data2/hoon2/LUS_Dataset/temporally_separated_...,/data2/hoon2/LUS_Dataset/processed_temporally_...
152,1,44937986,3,20240712,video,NaN,NaN,NaN,NaN,71_127,...,1,44937986_3,44937986_00003_84,0,0,0,1,1,/data2/hoon2/LUS_Dataset/temporally_separated_...,/data2/hoon2/LUS_Dataset/processed_temporally_...
304,1,44937986,4,20240712,video,NaN,NaN,NaN,NaN,1_152,...,1,44937986_4,44937986_00004_19,0,0,0,1,1,/data2/hoon2/LUS_Dataset/temporally_separated_...,/data2/hoon2/LUS_Dataset/processed_temporally_...
456,1,44937986,5,20240712,video,NaN,36_48,46_61,126_130,NaN,...,0,44937986_5,44937986_00005_88,0,0,0,0,0,/data2/hoon2/LUS_Dataset/temporally_separated_...,/data2/hoon2/LUS_Dataset/processed_temporally_...
608,1,44937986,6,20240712,video,NaN,37_47,47_58,126_130,NaN,...,0,44937986_6,44937986_00006_33,0,0,0,0,0,/data2/hoon2/LUS_Dataset/temporally_separated_...,/data2/hoon2/LUS_Dataset/processed_temporally_...

# clip

In [33]:
from glob import glob

TS_clip_root_paths = '/data2/hoon2/LUS_Dataset/clip_avi_temporally_separated_dataset'

TS_clip_paths = glob(f'{TS_clip_root_paths}/*.avi')

print(len(TS_clip_paths))

392

In [34]:
def create_list(start, end=None):
    # If only one number is provided, revalue_counts list with that number.
    if end is None:
        return [int(start)]
    # If start and end are provided, return a list with numbers from start to end, inclusive.
    else:

        return list(range(int(start), int(end) + 1))
#         return list(range(int(start)-1, int(end)))

In [35]:
def gen_lbl_range_dict(df, lbl_name):
    lbl_dict = {}
    for si, lbl in df[['study_id',lbl_name]].values:
        lbl_range_ls = []
        if pd.isna(lbl):
            lbl_dict[si] = [[0]]
        else:
            refined_lbl = lbl.strip()
            refined_lbl_ls = refined_lbl.split(',')
            for r_lbl in refined_lbl_ls:
                lbl_range = re.split(r'[_-]', r_lbl)
                lbl_range_ls.append(create_list(*lbl_range))   
            lbl_dict[si] = lbl_range_ls  
    return lbl_dict

In [36]:
# labeler 1 
al_lbl_dict1 = gen_lbl_range_dict(TS_reader1_df_filtered, 'A-line')
bl_lbl_dict1 = gen_lbl_range_dict(TS_reader1_df_filtered, 'B-line')
cb_lbl_dict1 = gen_lbl_range_dict(TS_reader1_df_filtered, 'Confluent B-line')
c_lbl_dict1 = gen_lbl_range_dict(TS_reader1_df_filtered, 'Consolidation')
pe_lbl_dict1 = gen_lbl_range_dict(TS_reader1_df_filtered, 'Pleural effusion')

# labler 2
al_lbl_dict2 = gen_lbl_range_dict(TS_reader2_df_filtered, 'A-line')
bl_lbl_dict2 = gen_lbl_range_dict(TS_reader2_df_filtered, 'B-line')
cb_lbl_dict2 = gen_lbl_range_dict(TS_reader2_df_filtered, 'Confluent B-line')
c_lbl_dict2 = gen_lbl_range_dict(TS_reader2_df_filtered, 'Consolidation')
pe_lbl_dict2 = gen_lbl_range_dict(TS_reader2_df_filtered, 'Pleural effusion')

In [37]:
TS_reader1_df[TS_reader1_df['study_id'] == '52426014_8']

,Patient number,PatientID,Data_idx,StudyDate,Data_type,Point Zone,A-line,B-line,Confluent B-line,Consolidation,Pleural effusion,Lung sliding,Lung Ultrasound Score,LUS score align,study_id
11,2,52426014,8,20240712,video,NaN,1_33,1_152,38_152,117_152,NaN,0,3_c,0,52426014_8

In [38]:
TS_reader1_df_filtered[TS_reader1_df_filtered['study_id'] == '52426014_8']

,Patient number,PatientID,Data_idx,StudyDate,Data_type,Point Zone,A-line,B-line,Confluent B-line,Consolidation,...,LUS score align,study_id,FileName,A-line_lbl,B-line_lbl,Confluent B-line_lbl,Consolidation_lbl,Pleural effusion_lbl,img_path,raw_avi_path
1672,2,52426014,8,20240712,video,NaN,1_33,1_152,38_152,117_152,...,0,52426014_8,52426014_00008_76,0,1,1,0,0,/data2/hoon2/LUS_Dataset/temporally_separated_...,/data2/hoon2/LUS_Dataset/processed_temporally_...
1673,2,52426014,8,20240712,video,NaN,1_33,1_152,38_152,117_152,...,0,52426014_8,52426014_00008_147,0,1,1,1,0,/data2/hoon2/LUS_Dataset/temporally_separated_...,/data2/hoon2/LUS_Dataset/processed_temporally_...
1674,2,52426014,8,20240712,video,NaN,1_33,1_152,38_152,117_152,...,0,52426014_8,52426014_00008_45,0,1,1,0,0,/data2/hoon2/LUS_Dataset/temporally_separated_...,/data2/hoon2/LUS_Dataset/processed_temporally_...
1675,2,52426014,8,20240712,video,NaN,1_33,1_152,38_152,117_152,...,0,52426014_8,52426014_00008_83,0,1,1,0,0,/data2/hoon2/LUS_Dataset/temporally_separated_...,/data2/hoon2/LUS_Dataset/processed_temporally_...
1676,2,52426014,8,20240712,video,NaN,1_33,1_152,38_152,117_152,...,0,52426014_8,52426014_00008_107,0,1,1,0,0,/data2/hoon2/LUS_Dataset/temporally_separated_...,/data2/hoon2/LUS_Dataset/processed_temporally_...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1819,2,52426014,8,20240712,video,NaN,1_33,1_152,38_152,117_152,...,0,52426014_8,52426014_00008_51,0,1,1,0,0,/data2/hoon2/LUS_Dataset/temporally_separated_...,/data2/hoon2/LUS_Dataset/processed_temporally_...
1820,2,52426014,8,20240712,video,NaN,1_33,1_152,38_152,117_152,...,0,52426014_8,52426014_00008_101,0,1,1,0,0,/data2/hoon2/LUS_Dataset/temporally_separated_...,/data2/hoon2/LUS_Dataset/processed_temporally_...
1821,2,52426014,8,20240712,video,NaN,1_33,1_152,38_152,117_152,...,0,52426014_8,52426014_00008_10,1,1,0,0,0,/data2/hoon2/LUS_Dataset/temporally_separated_...,/data2/hoon2/LUS_Dataset/processed_temporally_...
1822,2,52426014,8,20240712,video,NaN,1_33,1_152,38_152,117_152,...,0,52426014_8,52426014_00008_40,0,1,1,0,0,/data2/hoon2/LUS_Dataset/temporally_separated_...,/data2/hoon2/LUS_Dataset/processed_temporally_...
1823,2,52426014,8,20240712,video,NaN,1_33,1_152,38_152,117_152,...,0,52426014_8,52426014_00008_133,0,1,1,1,0,/data2/hoon2/LUS_Dataset/temporally_separated_...,/data2/hoon2/LUS_Dataset/processed_temporally_...

In [39]:
TS_reader1_video_df.head()

,Patient number,PatientID,Data_idx,StudyDate,Data_type,Point Zone,A-line,B-line,Confluent B-line,Consolidation,...,LUS score align,study_id,FileName,A-line_lbl,B-line_lbl,Confluent B-line_lbl,Consolidation_lbl,Pleural effusion_lbl,img_path,raw_avi_path
0,1,44937986,2,20240712,video,NaN,1_152,NaN,NaN,NaN,...,1,44937986_2,44937986_00002_135,1,0,0,0,0,/data2/hoon2/LUS_Dataset/temporally_separated_...,/data2/hoon2/LUS_Dataset/processed_temporally_...
152,1,44937986,3,20240712,video,NaN,NaN,NaN,NaN,71_127,...,1,44937986_3,44937986_00003_84,0,0,0,1,1,/data2/hoon2/LUS_Dataset/temporally_separated_...,/data2/hoon2/LUS_Dataset/processed_temporally_...
304,1,44937986,4,20240712,video,NaN,NaN,NaN,NaN,1_152,...,1,44937986_4,44937986_00004_19,0,0,0,1,1,/data2/hoon2/LUS_Dataset/temporally_separated_...,/data2/hoon2/LUS_Dataset/processed_temporally_...
456,1,44937986,5,20240712,video,NaN,36_48,46_61,126_130,NaN,...,0,44937986_5,44937986_00005_88,0,0,0,0,0,/data2/hoon2/LUS_Dataset/temporally_separated_...,/data2/hoon2/LUS_Dataset/processed_temporally_...
608,1,44937986,6,20240712,video,NaN,37_47,47_58,126_130,NaN,...,0,44937986_6,44937986_00006_33,0,0,0,0,0,/data2/hoon2/LUS_Dataset/temporally_separated_...,/data2/hoon2/LUS_Dataset/processed_temporally_...

In [40]:
TS_reader2_video_df.head()

,Patient number,PatientID,Data_idx,StudyDate,Data_type,Point Zone,A-line,B-line,Confluent B-line,Consolidation,...,LUS score align,study_id,FileName,A-line_lbl,B-line_lbl,Confluent B-line_lbl,Consolidation_lbl,Pleural effusion_lbl,img_path,raw_avi_path
0,1,44937986,2,20240712,video,NaN,1_152,NaN,NaN,NaN,...,1,44937986_2,44937986_00002_135,1,0,0,0,0,/data2/hoon2/LUS_Dataset/temporally_separated_...,/data2/hoon2/LUS_Dataset/processed_temporally_...
152,1,44937986,3,20240712,video,NaN,NaN,NaN,NaN,87_115,...,1,44937986_3,44937986_00003_84,0,0,0,0,0,/data2/hoon2/LUS_Dataset/temporally_separated_...,/data2/hoon2/LUS_Dataset/processed_temporally_...
304,1,44937986,4,20240712,video,NaN,NaN,NaN,NaN,59_89,...,1,44937986_4,44937986_00004_19,0,0,0,0,0,/data2/hoon2/LUS_Dataset/temporally_separated_...,/data2/hoon2/LUS_Dataset/processed_temporally_...
456,1,44937986,5,20240712,video,NaN,NaN,47_60,NaN,NaN,...,0,44937986_5,44937986_00005_88,0,0,0,0,0,/data2/hoon2/LUS_Dataset/temporally_separated_...,/data2/hoon2/LUS_Dataset/processed_temporally_...
608,1,44937986,6,20240712,video,NaN,NaN,92_99,NaN,NaN,...,0,44937986_6,44937986_00006_33,0,0,0,0,0,/data2/hoon2/LUS_Dataset/temporally_separated_...,/data2/hoon2/LUS_Dataset/processed_temporally_...

In [41]:
# 파일 경로에서 patientID 추출
patient_ids = [path.split('/')[-1].split('_')[0] for path in TS_clip_paths]
study_ids = []
for path in TS_clip_paths:
    info = path.split('/')[-1].split('.')[0].split('_')
    patient_id = info[0]
    study_id = str(int(info[1]))  
    study_id = f"{patient_id}_{study_id}"
    study_ids.append(study_id)
    
# labeler 1
TS_reader1_video_df_ = pd.DataFrame({
    '256_clip_path': TS_clip_paths,
    'PatientID': patient_ids,
    'study_id': study_ids
})

# labeler 2
TS_reader2_video_df_ = pd.DataFrame({
    '256_clip_path': TS_clip_paths,
    'PatientID': patient_ids,
    'study_id': study_ids
})

TS_reader1_video_df_.head()

                                       256_clip_path PatientID    study_id
0  /data2/hoon2/LUS_Dataset/clip_avi_temporally_s...  52426014  52426014_7
1  /data2/hoon2/LUS_Dataset/clip_avi_temporally_s...  60916943  60916943_4
2  /data2/hoon2/LUS_Dataset/clip_avi_temporally_s...  52426014  52426014_5
3  /data2/hoon2/LUS_Dataset/clip_avi_temporally_s...  80306634  80306634_6
4  /data2/hoon2/LUS_Dataset/clip_avi_temporally_s...  54258868  54258868_4

In [42]:
lbl_dicts1 = {
    'A-line_lbl': al_lbl_dict1,
    'B-line_lbl': bl_lbl_dict1,
    'Confluent B-line_lbl': cb_lbl_dict1,
    'Consolidation_lbl' : c_lbl_dict1,
    'Pleural effusion_lbl':pe_lbl_dict1
}

lbl_dicts2 = {
    'A-line_lbl': al_lbl_dict2,
    'B-line_lbl': bl_lbl_dict2,
    'Confluent B-line_lbl': cb_lbl_dict2,
    'Consolidation_lbl' : c_lbl_dict2,
    'Pleural effusion_lbl':pe_lbl_dict2
}

In [43]:
def check_labels_for_avi(df, lbl_dicts):
    # 각 레이블(아티팩트)에 대해 데이터프레임에 열을 추가하고, 초기값을 0으로 설정합니다.
    for lbl_name in lbl_dicts.keys():
        df[lbl_name] = 0
    
    for idx, row in df.iterrows():
        clip_path = row['256_clip_path']
        # 파일명에서 프레임 범위 추출
        _, start_frame, end_frame = clip_path.split('/')[-1].split('.')[0].split('_')[-3:]
        start_frame, end_frame = int(start_frame), int(end_frame)

        study_id = row['study_id']
        
        # 모든 레이블 사전을 순회
        for lbl_name, lbl_dict in lbl_dicts.items():
            
            lbl_ranges = lbl_dict.get(study_id, [])
    
            if lbl_ranges == [[0]]:
                continue
            # 레이블 영역 리스트를 순회하며 현재 avi 파일의 프레임 범위와 겹치는지 확인합니다.
            for lbl_range in lbl_ranges:
                '''
                # 현재 레이블 영역과 avi 파일의 프레임 범위가 겹치는지 확인
                    - 시작 프레임이 레이블 범위 내에 있는 경우
                    - 끝 프레임이 레이블 범위 내에 있는 경우
                    - 레이블 범위가 시작 프레임과 끝 프레임 사이에 완전히 포함되는 경우
                '''
                if (lbl_range[0] <= start_frame <= lbl_range[-1]) or (lbl_range[0] <= end_frame <= lbl_range[-1]) or (start_frame <= lbl_range[0] and end_frame >= lbl_range[-1]):
                    df.at[idx, lbl_name] = 1  # 겹침이 확인되면 해당 레이블 열에 1을 표시합니다.
                    break  # 하나의 영역이라도 겹치면 다음 레이블로 넘어갑니다.
    return df

In [44]:
lbl_dicts1['Confluent B-line_lbl'].get('52426014_8', [])

[[38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  61,
  62,
  63,
  64,
  65,
  66,
  67,
  68,
  69,
  70,
  71,
  72,
  73,
  74,
  75,
  76,
  77,
  78,
  79,
  80,
  81,
  82,
  83,
  84,
  85,
  86,
  87,
  88,
  89,
  90,
  91,
  92,
  93,
  94,
  95,
  96,
  97,
  98,
  99,
  100,
  101,
  102,
  103,
  104,
  105,
  106,
  107,
  108,
  109,
  110,
  111,
  112,
  113,
  114,
  115,
  116,
  117,
  118,
  119,
  120,
  121,
  122,
  123,
  124,
  125,
  126,
  127,
  128,
  129,
  130,
  131,
  132,
  133,
  134,
  135,
  136,
  137,
  138,
  139,
  140,
  141,
  142,
  143,
  144,
  145,
  146,
  147,
  148,
  149,
  150,
  151,
  152]]

In [45]:
TS_clip_reader1_final_df = check_labels_for_avi(TS_reader1_video_df_, lbl_dicts1)
TS_clip_reader2_final_df = check_labels_for_avi(TS_reader2_video_df_, lbl_dicts2)

print(len(TS_clip_reader1_final_df))
print(len(TS_clip_reader2_final_df))

392
392

In [46]:
TS_clip_reader1_final_df

,256_clip_path,PatientID,study_id,A-line_lbl,B-line_lbl,Confluent B-line_lbl,Consolidation_lbl,Pleural effusion_lbl
0,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,52426014,52426014_7,1,1,0,1,0
1,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,60916943,60916943_4,0,1,0,0,0
2,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,52426014,52426014_5,1,1,1,0,0
3,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,80306634,80306634_6,1,0,0,0,0
4,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,54258868,54258868_4,1,0,0,0,0
...,...,...,...,...,...,...,...,...
387,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,61398238,61398238_7,0,1,0,0,0
388,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,14184938,14184938_3,1,0,0,0,0
389,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,37292786,37292786_4,1,1,0,0,0
390,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,61308381,61308381_2,1,0,0,0,0
391,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,44937986,44937986_5,0,0,1,0,0

In [47]:
TS_clip_reader2_final_df

,256_clip_path,PatientID,study_id,A-line_lbl,B-line_lbl,Confluent B-line_lbl,Consolidation_lbl,Pleural effusion_lbl
0,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,52426014,52426014_7,0,0,0,0,0
1,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,60916943,60916943_4,0,0,0,0,0
2,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,52426014,52426014_5,0,0,0,0,0
3,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,80306634,80306634_6,1,0,0,0,0
4,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,54258868,54258868_4,0,0,0,1,0
...,...,...,...,...,...,...,...,...
387,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,61398238,61398238_7,0,0,0,0,0
388,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,14184938,14184938_3,0,0,0,0,0
389,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,37292786,37292786_4,0,0,1,0,0
390,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,61308381,61308381_2,1,0,0,0,0
391,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,44937986,44937986_5,0,0,0,0,0

In [48]:
TS_clip_reader1_final_df.to_csv(f"/data2/hoon2/LUS_Dataset/csv_files/temporally_separated_test_set/clip/5_artifacts/temporally_separated_test_reader1.csv", index=False)
TS_clip_reader2_final_df.to_csv(f"/data2/hoon2/LUS_Dataset/csv_files/temporally_separated_test_set/clip/5_artifacts/temporally_separated_test_reader2.csv", index=False)

# Compare AI vs two Clinicians

In [1]:
import pandas as pd
import numpy as np

# data_type = 'internal_test'
data_type = 'temporally_separated_test'

fold_num = 0

# AI model output
LUV_Net_outputs = pd.read_csv(f'/data2/hoon2/Results/model_output_csv/video_level/{data_type}/densenet_161/5_artifacts_batch4_fold_{fold_num}_LUV_Net_8head_13ksize_output.csv')

# reader 1 label
reader1_gt = pd.read_csv('/data2/hoon2/LUS_Dataset/csv_files/temporally_separated_test_set/clip/5_artifacts/temporally_separated_test_reader1.csv')

# reader 2 label
reader2_gt = pd.read_csv('/data2/hoon2/LUS_Dataset/csv_files/temporally_separated_test_set/clip/5_artifacts/temporally_separated_test_reader2.csv')

# expert label
expert_gt = pd.read_csv(f'/data2/hoon2/Results/model_output_csv/video_level/{data_type}/5_artifacts_video_level_expert_gt.csv')

In [2]:
clip_id_lst = [id for id in expert_gt['clip_id']]
LUV_Net_outputs['clip_id'] = clip_id_lst
LUV_Net_outputs

,LUVM_A-line,LUVM_total-B-line,LUVM_Consolidation,LUVM_Pleural effusion,clip_id
0,0.935229,0.056365,0.019443,0.014675,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...
1,0.936214,0.050234,0.021592,0.017229,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...
2,0.946519,0.053254,0.017268,0.014103,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...
3,0.935421,0.069799,0.017375,0.013095,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...
4,0.933353,0.053146,0.020744,0.014834,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...
...,...,...,...,...,...
387,0.063993,0.775873,0.033005,0.004171,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...
388,0.063981,0.672396,0.035775,0.004917,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...
389,0.049650,0.602211,0.056109,0.007301,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...
390,0.080733,0.696348,0.029782,0.005065,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...
391,0.176628,0.532650,0.031243,0.005212,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...

## ensemble results 정리

In [3]:
ai_thresholds_by_fold = {
    0: [0.22634831, 0.15914528, 0.25003922, 0.050135028],
    1: [0.40295565, 0.088446975, 0.24804993, 0.11546604],
    2: [0.00018062566, 0.35014683, 0.4687046, 0.105172224],
    3: [0.2670747, 0.18359607, 0.24848126, 0.12985016],
    4: [0.15066153, 0.109094806, 0.4810904, 0.27746475]
}

In [8]:
def voting_ensemble_with_fold_thresholds(thresholds_by_fold, clip_id_lst):
    pred_columns = ['LUVM_A-line', 'LUVM_total-B-line', 'LUVM_Consolidation', 'LUVM_Pleural effusion']
    binary_preds = []

    for fold_num in range(5):
        path = f'/data2/hoon2/Results/model_output_csv/video_level/temporally_separated_test/densenet_161/5_artifacts_batch4_fold_{fold_num}_LUV_Net_8head_13ksize_output.csv'
        df = pd.read_csv(path)

        bin_df = pd.DataFrame()
        for i, col in enumerate(pred_columns):
            thres = thresholds_by_fold[fold_num][i]
            bin_df[col] = (df[col] >= thres).astype(int)
        
        binary_preds.append(bin_df)

    # 다수결 voting: 각 label에 대해 5개 중 3개 이상이 1이면 1로 간주
    stacked_bin = np.stack([df.values for df in binary_preds], axis=-1)  # (num_samples, num_classes, 5)
    majority_votes = (stacked_bin.sum(axis=-1) >= 3).astype(int)

    result_df = pd.DataFrame(majority_votes, columns=pred_columns)
    result_df.insert(0, 'clip_id', clip_id_lst)

    return result_df

In [14]:
ensemble_df = voting_ensemble_with_fold_thresholds(thresholds_by_fold = ai_thresholds_by_fold, clip_id_lst = clip_id_lst)
print(len(ensemble_df))
ensemble_df.head()

392

,clip_id,LUVM_A-line,LUVM_total-B-line,LUVM_Consolidation,LUVM_Pleural effusion
0,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,1,1,0,0
1,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,1,0,0,0
2,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,1,0,0,0
3,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,1,1,0,0
4,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,1,1,0,0

In [10]:
ex_df['clip_id'].iloc[0]

'/data2/hoon2/LUS_Dataset/clip_avi_temporally_separated_dataset/44937986_00002_1_30.avi'

In [11]:
def extract_patient_data_idx(clip_path):
    try:
        filename = clip_path.split('/')[-1]
        parts = filename.split('_')
        patient_id = int(parts[0])
        data_idx = int(parts[1])
        return pd.Series([patient_id, data_idx])
    except:
        return pd.Series([None, None])

In [12]:
# Expert ID 추출
expert_gt[["PatientID", "Data_idx"]] = expert_gt["clip_id"].apply(extract_patient_data_idx)
expert_gt.head()
len(expert_gt)

392

In [15]:
expert_gt['study_id'] = [ f"{row['PatientID']}_{row['Data_idx']}" for idx, row in expert_gt.iterrows()]
ensemble_df['study_id'] = [ f"{row['PatientID']}_{row['Data_idx']}" for idx, row in ensemble_df.iterrows()]

KeyError: 'PatientID'

In [ ]:
# Reader1/2: ID 추출 및 total-B-line 생성, 컬럼명 변경
reader1_gt[["PatientID", "Data_idx"]] = reader1_gt["256_clip_path"].apply(extract_patient_data_idx)
reader2_gt[["PatientID", "Data_idx"]] = reader2_gt["256_clip_path"].apply(extract_patient_data_idx)

reader1_gt["Reader1_total-B-line"] = reader1_gt["B-line_lbl"] | reader1_gt["Confluent B-line_lbl"]
reader2_gt["Reader2_total-B-line"] = reader2_gt["B-line_lbl"] | reader2_gt["Confluent B-line_lbl"]

1. LUV_Net_outputs: AI result
    - fold 0 threshold of each labels: [0.22634831, 0.15914528, 0.25003922, 0.050135028]
    - fold 1 threshold of each labels: [0.40295565, 0.088446975, 0.24804993, 0.11546604]
    - fold 2 threshold of each labels: [0.00018062566, 0.35014683, 0.4687046, 0.105172224]
    - fold 3 threshold of each labels: [0.2670747, 0.18359607, 0.24848126, 0.12985016]
    - fold 4 threshold of each labels: [0.15066153, 0.109094806, 0.4810904, 0.27746475]
2. models_gt: expert outputs
3. TS_clip_reader1_final_df: clinicians 1 results
4. TS_clip_reader2_final_df: clinicians 2 results

In [12]:
ai_thresholds_by_fold = {
    0: [0.22634831, 0.15914528, 0.25003922, 0.050135028],
    1: [0.40295565, 0.088446975, 0.24804993, 0.11546604],
    2: [0.00018062566, 0.35014683, 0.4687046, 0.105172224],
    3: [0.2670747, 0.18359607, 0.24848126, 0.12985016],
    4: [0.15066153, 0.109094806, 0.4810904, 0.27746475]
}

thresholds = ai_thresholds_by_fold[fold_num]

In [13]:
# AI: ID 추출 및 threshold에 따라 이진화
LUV_Net_outputs[["PatientID", "Data_idx"]] = LUV_Net_outputs["clip_id"].apply(extract_patient_data_idx)
LUV_Net_outputs["AI_A-line"] = (LUV_Net_outputs["LUVM_A-line"] > thresholds[0]).astype(int)
LUV_Net_outputs["AI_total-B-line"] = (LUV_Net_outputs["LUVM_total-B-line"] > thresholds[1]).astype(int)
LUV_Net_outputs["AI_Consolidation"] = (LUV_Net_outputs["LUVM_Consolidation"] > thresholds[2]).astype(int)
LUV_Net_outputs["AI_Pleural effusion"] = (LUV_Net_outputs["LUVM_Pleural effusion"] > thresholds[3]).astype(int)

LUV_Net_outputs

,LUVM_A-line,LUVM_total-B-line,LUVM_Consolidation,LUVM_Pleural effusion,clip_id,PatientID,Data_idx,AI_A-line,AI_total-B-line,AI_Consolidation,AI_Pleural effusion
0,0.935229,0.056365,0.019443,0.014675,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,44937986,2,1,0,0,0
1,0.936214,0.050234,0.021592,0.017229,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,44937986,2,1,0,0,0
2,0.946519,0.053254,0.017268,0.014103,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,44937986,2,1,0,0,0
3,0.935421,0.069799,0.017375,0.013095,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,44937986,2,1,0,0,0
4,0.933353,0.053146,0.020744,0.014834,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,44937986,2,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
387,0.063993,0.775873,0.033005,0.004171,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,80306634,7,0,1,0,0
388,0.063981,0.672396,0.035775,0.004917,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,80306634,7,0,1,0,0
389,0.049650,0.602211,0.056109,0.007301,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,80306634,7,0,1,0,0
390,0.080733,0.696348,0.029782,0.005065,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,80306634,7,0,1,0,0
391,0.176628,0.532650,0.031243,0.005212,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,80306634,7,0,1,0,0

In [14]:
expert_gt['study_id'] = [ f"{row['PatientID']}_{row['Data_idx']}" for idx, row in expert_gt.iterrows()]
LUV_Net_outputs['study_id'] = [ f"{row['PatientID']}_{row['Data_idx']}" for idx, row in LUV_Net_outputs.iterrows()]

In [48]:
LUV_Net_outputs.head()

   LUVM_A-line  LUVM_total-B-line  LUVM_Consolidation  LUVM_Pleural effusion
0     0.935229           0.056365            0.019443               0.014675
1     0.936214           0.050234            0.021592               0.017229
2     0.946519           0.053254            0.017268               0.014103
3     0.935421           0.069799            0.017375               0.013095
4     0.933353           0.053146            0.020744               0.014834

In [16]:
# Reader1/2: ID 추출 및 total-B-line 생성, 컬럼명 변경
reader1_gt[["PatientID", "Data_idx"]] = reader1_gt["256_clip_path"].apply(extract_patient_data_idx)
reader2_gt[["PatientID", "Data_idx"]] = reader2_gt["256_clip_path"].apply(extract_patient_data_idx)

reader1_gt["Reader1_total-B-line"] = reader1_gt["B-line_lbl"] | reader1_gt["Confluent B-line_lbl"]
reader2_gt["Reader2_total-B-line"] = reader2_gt["B-line_lbl"] | reader2_gt["Confluent B-line_lbl"]

In [ ]:
# LUV_Net_outputs.to_csv(f'/data2/hoon2/Results/model_output_csv/video_level/temporally_separated_test/5_artifacts_fold_{fold_num}_video_level_ai.csv', index = False)

In [17]:
reader1_gt = reader1_gt.rename(columns={
    "A-line_lbl": "Reader1_A-line",
    "Consolidation_lbl": "Reader1_Consolidation",
    "Pleural effusion_lbl": "Reader1_Pleural effusion"
})
reader2_gt = reader2_gt.rename(columns={
    "A-line_lbl": "Reader2_A-line",
    "Consolidation_lbl": "Reader2_Consolidation",
    "Pleural effusion_lbl": "Reader2_Pleural effusion"
})

# Expert 컬럼명 정리
expert_gt = expert_gt.rename(columns={
    "A-line": "Expert_A-line",
    "total-B-line": "Expert_total-B-line",
    "Consolidation": "Expert_Consolidation",
    "Pleural effusion": "Expert_Pleural effusion"
})

In [18]:
# Check the number of rows in each original DataFrame
print("Expert DataFrame rows:", len(expert_gt))
print("Reader1 DataFrame rows:", len(reader1_gt))
print("Reader2 DataFrame rows:", len(reader2_gt))
print("LUV_Net outputs rows:", len(LUV_Net_outputs))

# Check unique combinations of PatientID and Data_idx in each DataFrame
print("Unique (PatientID, Data_idx) in Expert DataFrame:", expert_gt[["PatientID", "Data_idx"]].drop_duplicates().shape[0])
print("Unique (PatientID, Data_idx) in Reader1 DataFrame:", reader1_gt[["PatientID", "Data_idx"]].drop_duplicates().shape[0])
print("Unique (PatientID, Data_idx) in Reader2 DataFrame:", reader2_gt[["PatientID", "Data_idx"]].drop_duplicates().shape[0])
print("Unique (PatientID, Data_idx) in LUV_Net outputs:", LUV_Net_outputs[["PatientID", "Data_idx"]].drop_duplicates().shape[0])

Expert DataFrame rows: 392
Reader1 DataFrame rows: 392
Reader2 DataFrame rows: 392
LUV_Net outputs rows: 392
Unique (PatientID, Data_idx) in Expert DataFrame: 56
Unique (PatientID, Data_idx) in Reader1 DataFrame: 56
Unique (PatientID, Data_idx) in Reader2 DataFrame: 56
Unique (PatientID, Data_idx) in LUV_Net outputs: 56

In [19]:
reader1_gt = reader1_gt.rename(columns={"256_clip_path": "clip_id"})
reader2_gt = reader2_gt.rename(columns={"256_clip_path": "clip_id"})
reader2_gt

,clip_id,PatientID,study_id,Reader2_A-line,B-line_lbl,Confluent B-line_lbl,Reader2_Consolidation,Reader2_Pleural effusion,Data_idx,Reader2_total-B-line
0,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,52426014,52426014_7,0,0,0,0,0,7,0
1,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,60916943,60916943_4,0,0,0,0,0,4,0
2,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,52426014,52426014_5,0,0,0,0,0,5,0
3,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,80306634,80306634_6,1,0,0,0,0,6,0
4,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,54258868,54258868_4,0,0,0,1,0,4,0
...,...,...,...,...,...,...,...,...,...,...
387,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,61398238,61398238_7,0,0,0,0,0,7,0
388,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,14184938,14184938_3,0,0,0,0,0,3,0
389,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,37292786,37292786_4,0,0,1,0,0,4,1
390,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,61308381,61308381_2,1,0,0,0,0,2,0
391,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,44937986,44937986_5,0,0,0,0,0,5,0

In [ ]:
# 필요한 컬럼만 선택
models_gt_sel = expert_gt[[
    "clip_id", "Expert_A-line", "Expert_total-B-line", 
    "Expert_Consolidation", "Expert_Pleural effusion"
]]

reader1_sel = reader1_gt[[
    "clip_id", "Reader1_A-line", "Reader1_total-B-line", 
    "Reader1_Consolidation", "Reader1_Pleural effusion"
]]

reader2_sel = reader2_gt[[
    "clip_id", "Reader2_A-line", "Reader2_total-B-line", 
    "Reader2_Consolidation", "Reader2_Pleural effusion"
]]

ai_sel = LUV_Net_outputs[[
    "clip_id", "AI_A-line", "AI_total-B-line", 
    "AI_Consolidation", "AI_Pleural effusion"
]]

merged_df = models_gt_sel \
    .merge(reader1_sel, on="clip_id", how="inner") \
    .merge(reader2_sel, on="clip_id", how="inner") \
    .merge(ai_sel, on="clip_id", how="inner")

In [123]:
merged_df

,clip_id,Expert_A-line,Expert_total-B-line,Expert_Consolidation,Expert_Pleural effusion,Reader1_A-line,Reader1_total-B-line,Reader1_Consolidation,Reader1_Pleural effusion,Reader2_A-line,Reader2_total-B-line,Reader2_Consolidation,Reader2_Pleural effusion,AI_A-line,AI_total-B-line,AI_Consolidation,AI_Pleural effusion
0,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,1.0,0.0,0.0,0.0,1,0,0,0,1,0,0,0,1,0,0,0
1,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,1.0,0.0,0.0,0.0,1,0,0,0,1,0,0,0,1,0,0,0
2,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,1.0,0.0,0.0,0.0,1,0,0,0,1,0,0,0,1,0,0,0
3,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,1.0,0.0,0.0,0.0,1,0,0,0,1,0,0,0,1,0,0,0
4,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,1.0,0.0,0.0,0.0,1,0,0,0,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,1.0,0.0,1.0,0.0,1,1,0,0,0,1,0,0,0,1,0,0
388,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,1.0,0.0,1.0,0.0,1,1,0,0,0,1,0,0,0,1,0,0
389,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,1.0,0.0,1.0,0.0,1,1,0,0,0,1,0,0,0,1,0,0
390,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,1.0,0.0,1.0,0.0,1,1,0,0,0,1,0,0,0,1,0,0
391,/data2/hoon2/LUS_Dataset/clip_avi_temporally_s...,1.0,0.0,1.0,0.0,1,1,0,0,0,1,0,0,0,1,0,0

## 1. Clinician-level Agreement & Experience-based Comparison
- **AI가 clinician과 얼마나 일치하는지**: AI vs Reader1, AI vs Reader2

- **경험 차이에 따른 판단 비교**: Reader1 vs Expert, Reader2 vs Expert

- **두 clinician 간 일관성**: Reader1 vs Reader2

- **평가지표**: Agreement Rate, Cohen’s Kappa

In [125]:
labels = ["A-line", "total-B-line", "Consolidation", "Pleural effusion"]

comparison_pairs = [
    ("AI", "Reader1"),
    ("AI", "Reader2"),
    ("Reader1", "Expert"),
    ("Reader2", "Expert"),
    ("Reader1", "Reader2")
]

In [126]:
from sklearn.metrics import cohen_kappa_score, accuracy_score

agreement_results = []
kappa_results = []

for label in labels:
    for a, b in comparison_pairs:
        col_a = f"{a}_{label}"
        col_b = f"{b}_{label}"
        y_true = merged_df[col_a]
        y_pred = merged_df[col_b]
        kappa = cohen_kappa_score(y_true, y_pred)
        acc = accuracy_score(y_true, y_pred)
        agreement_results.append({
            "Label": label,
            "Comparison": f"{a} vs {b}",
            "Agreement Rate": round(acc, 3),
            "Cohen's Kappa": round(kappa, 3)
        })
agreement_df = pd.DataFrame(agreement_results)
agreement_df

               Label          Comparison  Agreement Rate  Cohen's Kappa
0             A-line       AI vs Reader1           0.656          0.279
1             A-line       AI vs Reader2           0.668          0.387
2             A-line   Reader1 vs Expert           0.821          0.574
3             A-line   Reader2 vs Expert           0.452          0.155
4             A-line  Reader1 vs Reader2           0.579          0.258
5       total-B-line       AI vs Reader1           0.758          0.524
6       total-B-line       AI vs Reader2           0.658          0.348
7       total-B-line   Reader1 vs Expert           0.732          0.449
8       total-B-line   Reader2 vs Expert           0.730          0.415
9       total-B-line  Reader1 vs Reader2           0.696          0.321
10     Consolidation       AI vs Reader1           0.776          0.344
11     Consolidation       AI vs Reader2           0.875          0.413
12     Consolidation   Reader1 vs Expert           0.745          0.355
13     Consolidation   Reader2 vs Expert           0.819          0.416
14     Consolidation  Reader1 vs Reader2           0.737          0.229
15  Pleural effusion       AI vs Reader1           0.969          0.837
16  Pleural effusion       AI vs Reader2           0.916          0.517
17  Pleural effusion   Reader1 vs Expert           0.954          0.702
18  Pleural effusion   Reader2 vs Expert           0.977          0.835
19  Pleural effusion  Reader1 vs Reader2           0.931          0.534

2. Consensus Accuracy
- **Reader1 + Reader2의 majority voting을 기준으로**

    - AI와 Consensus label 간 정확도

    - Expert와 Consensus label 간 정확도

In [ ]:
# Consensus accuracy
consensus_results = []
for label in labels:
    reader1 = merged_df[f"Reader1_{label}"]
    reader2 = merged_df[f"Reader2_{label}"]
    consensus = ((reader1 + reader2) >= 1).astype(int)
    expert = merged_df[f"Expert_{label}"]
    ai = merged_df[f"AI_{label}"]
    acc_ai_vs_consensus = accuracy_score(consensus, ai)
    acc_expert_vs_consensus = accuracy_score(consensus, expert)
    consensus_results.append({
        "Label": label,
        "AI vs Consensus Accuracy": round(acc_ai_vs_consensus, 3),
        "Expert vs Consensus Accuracy": round(acc_expert_vs_consensus, 3)
    })
consensus_df = pd.DataFrame(consensus_results)